<section id="proyectos">
    <div class="container-fluid">

        <div class="row">

            <!-- Obed Guerra Design -->
            <div class="bg-obedguerra col-sm-12 col-md-6">
                <div class="proyecto web wow fadeInLeft">
                    <img src="assets/img/proyectos/obedguerra.jpg" alt="Captura de la página de inicio de Obed Guerra Design, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <span class="titulo">Obed Guerra Design</span>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/obedguerra" target="_blank" title="Visitar Obed Guerra Design, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'ObedGuerraDesign' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Aprosán -->
            <div class="bg-aprosan col-sm-12 col-md-6">
                <div class="proyecto web wow fadeInRight">
                    <img src="assets/img/proyectos/aprosan.jpg" alt="Captura de la página de inicio de Aprosán, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Aprosán</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://aprosan.es" target="_blank" title="Visitar Aprosán, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'Aprosan' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- SententiApp (aplicación web) -->
            <div class="bg-sententiapp-web col-sm-12 col-md-4 order-sm-last order-md-first">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/sententiapp-web.jpg" alt="Captura de la página de inicio de SententiApp, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">SententiApp</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://sententiapp.iatext.ulpgc.es" target="_blank" title="Visitar SententiApp, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'SententiAppWeb' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Proyecto Excerpta (anotación) -->
            <div class="bg-excerpta1 col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/excerpta1.jpg" alt="Captura de la página de inicio del Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Proyecto Excerpta</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://anotaexcerpta.iatext.ulpgc.es" target="_blank" title="Visitar Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'ExcerptaAnotacion' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Proyecto Excerpta (búsqueda)  -->
            <div class="bg-excerpta2 col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/excerpta2.jpg" alt="Captura de la página de inicio del Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Proyecto Excerpta</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://excerpta.iatext.ulpgc.es" target="_blank" title="Visitar Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'ExcerptaBusqueda' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 no-padding">
                <div class="row">

                    <!-- BubbleGlasses -->
                    <div class="col-sm-12 bg-bubbleglasses">
                        <div class="proyecto web wow fadeInLeft">
                            <img src="assets/img/proyectos/bubbleglasses.jpg" alt="Captura de la página de inicio de BubbleGlasses, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <div class="caption">
                                <div class="titulo">BubbleGlasses</div>
                                <div class="enlaces">
                                    <a class="enlace" href="https://saulopm.com/proyectos/bubbleglasses" target="_blank" title="Visitar BubbleGlasses, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                                    <span class="enlace" href="#" (click)="abrirModal( 'BubbleGlasses' )">Saber más</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PatriciaCV -->
                    <div class="col-sm-12 bg-patriciacv">
                        <div class="proyecto web wow fadeInLeft">
                            <img src="assets/img/proyectos/patriciacv.jpg" alt="Captura de la página de inicio de PatriciaCV, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <div class="caption">
                                <div class="titulo">PatriciaCV</div>
                                <div class="enlaces">
                                    <a class="enlace" href="https://saulopm.com/proyectos/patriciacv" target="_blank" title="Visitar PatriciaCV, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                                    <span class="enlace" href="#" (click)="abrirModal( 'PatriciaCV' )">Saber más</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SententiApp -->
            <div class="col-sm-12 col-md-6 bg-sententiapp-app">
                <div class="proyecto app wow fadeInRight">
                    <img src="assets/img/proyectos/sententiapp-app.jpg" alt="Captura de la página de inicio de SententiApp, app desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">SententiApp</div>
                        <div class="enlaces">
                            <a class="enlace" href="assets/sententiapp.apk" target="_blank" title="Descargar APK de SententiApp, app desarrollada por Saulo Poveda Montesdeoca, programador web">Descargar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'SententiApp' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Soledad Paralegal -->
            <div class="bg-soledadparalegal col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInDown">
                    <img src="assets/img/proyectos/soledadparalegal.jpg" alt="Captura de la página de inicio de Soledad Paralegal, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Soledad Paralegal</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/soledadparalegal" target="_blank" title="Visitar Soledad Paralegal, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'SoledadParalegal' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Estudio Jurídico San Gregorio -->
            <div class="bg-estudiojuridicosg col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/estudiojuridicosg.jpg" alt="Captura de la página de inicio de Estudio Jurídico San Gregorio, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Estudio Jurídico SG</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://estudiojuridicosg.com" target="_blank" title="Visitar Estudio Jurídico San Gregorio, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'EstudioJuridicoSanGregorio' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- JC Abogada -->
            <div class="bg-jcabogada col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInDown">
                    <img src="assets/img/proyectos/jcabogada.jpg" alt="Captura de la página de inicio de JC Abogada, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">JC Abogada</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://jcabogada.com" target="_blank" title="Visitar JC Abogada, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'JCAbogada' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Nido de Pío Pío -->
            <div class="bg-nidodepiopio col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInLeft">
                    <img src="assets/img/proyectos/nidodepiopio.jpg" alt="Captura de la página de inicio de Nido de Pío Pío, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Nido de Pío Pío</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/nidodepiopio" target="_blank" title="Visitar Nido de Pío Pío, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'NidoDePioPio' )">Saber más</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Terapia en casa -->
            <div class="bg-terapiaencasa col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInRight">
                    <img src="assets/img/proyectos/terapiaencasa.jpg" alt="Captura de la página de inicio de Terapia en casa, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Terapia en casa</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://terapiaencasa.es" target="_blank" title="Visitar Terapia en Casa, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'TerapiaEnCasa' )">Saber más</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Guía de Angular -->
        <div class="row">
            <a class="bg-guiaangular col-sm-12 col-md-12">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/guia-angular.jpg" alt="Captura de la página de inicio de Guía de Angular, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Guía de Angular</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/guia-angular/#/inicio" target="_blank" title="Visitar Guía de Angular, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <span class="enlace" href="#" (click)="abrirModal( 'GuiaDeAngular' )">Saber más</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<app-modal [proyectoID]="proyectoID" *ngIf="mostrarModal" (parametroSalida)="cerrarModal( $event )"></app-modal>

<!-- Obed Guerra Design -->
<div class="modala fadea" id="modalObedGuerraDesign">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Obed Guerra Design</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de Obed Guerra Jiménez, diseñador gráfico. En ella se encuentra un amplio catálogo de proyectos de todo tipo, desde ilustración hasta branding. Con ello, se pretende que el usuario pueda conocer su trabajo en diferentes campos del diseño. Otros aspectos comunes en páginas de este tipo, como la carta de presentación, los conocimientos y habilidades, así como el formulario de contacto, no forman parte de la página principal, dado que hemos querido enfocarnos en que la primera impresión se base en su trabajo, en dejar que los hechos hablen por sí solos.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Aprosán -->
<div class="modala fadea" id="modalAprosan">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Aprosán</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de Aprosán, asesoría online para personal sanitario. He utilizado el azul y el blanco como colores corporativos, algo muy común en páginas web del sector sanitario. Para darle un toque más fresco y moderno, he jugado con la opacidad y los gradientes. También he incluido animaciones, todo ello con el fin de mejorar la experiencia de usuario.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la página web, diseñé también el logotipo. He utilizado un fonendoscopio para sustituir la letra inicial del nombre de la compañía. Por otro lado, su extremo viene a emular una tilde. Me ha parecido apropiado, dado que este dispositivo se utiliza para escuchar los latidos del corazón. Con ello, quería expresar protección. Para mantener la coherencia con el color corporativo y el logotipo, he utilizado imágenes en las que el azul y el blanco estuvieran presentes o en las que apareciera un fonendoscopio. 
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Angular</span>
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">TypeScript</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- SententiApp Web -->
<div class="modala fadea" id="modalSententiAppWeb">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">SententiApp</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de SententiApp, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria (ULPGC). Su cometido es ofrecer un panel de administración que permita a los investigadores y lingüistas incorporar datos en el sistema que posteriormente sustentarán una app móvil a través de una API. El color corporativo es el dorado. Para no congestionar la interfaz, hemos hecho un gran uso del color blanco. La app móvil la puedes encontrar en este catálogo de proyectos.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la aplicación web, diseñé también el logotipo. Encima del texto vemos una pluma escribiendo en un teléfono móvil, dado que se trata de una app móvil en la que se encuentran sentencias escritas por autores clásicos, que comúnmente escribían con pluma. El texto utiliza una tipografía gruesa con sefira. El teléfono móvil y el gradiente hacen de elementos modernos, mientras que la pluma y la serifa hacen de elementos con un look más antiguo. Esta combinación nos ofrece una mayor holgura a la hora de diseñar la interfaz web.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">.NET</span>
                        <span class="pildora">C#</span>
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Microsoft Azure</span>
                        <span class="pildora">Inkscape</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Excerpta Anotación -->
<div class="modala fadea" id="modalExcerptaAnotacion">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Proyecto Excerpta</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web del panel de administración Proyecto Excerpta, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria. Su cometido es ofrecer un panel de administración que permita a los investigadores y lingüistas incorporar datos en el sistema que posteriormente sustentarán una aplicación web con un motor de búsqueda. El color corporativo es el azul. Dado que su uso requiere de inicio de sesión, hemos diseñado una interfaz poco ostentosa que permita trabajar cómodamente. La aplicación web homónima con el motor de búsqueda la puedes encontrar en este catálogo de proyectos.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la aplicación web, diseñé también el logotipo. Encima del texto vemos una pluma atravesando una nube, dado que se almacenan extractos provenientes de textos latinos renacentistas en la nube, que comúnmente escribían con pluma. La tipografía seleccionada es Giza, que además de ser gruesa tener serifa, tiene una forma redondeada para mantener coherencia visual con la nube.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">.NET</span>
                        <span class="pildora">C#</span>
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Microsoft Azure</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Excerpta Búsqueda -->
<div class="modala fadea" id="modalExcerptaBusqueda">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Proyecto Excerpta</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web del Proyecto Excerpta, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria. Su cometido es ofrecer un motor de búsqueda y herramientas de análisis e interpretación de datos a los investigadores, lingüistas y estudiantes. El color corporativo es un amarillo mostaza. Para el texto de las cabeceras hemos utilizado la misma tipografía que en el logotipo. El resto del texto utiliza una tipografía sin serifa para darle un aspecto más moderno. Los extremos de algunas secciones tienen un efecto de página rota que creé utilizando la herramienta Inskcape, para evocar un libro. Los datos que sustentan esta aplicación web se gestionan desde el panel de administración que puedes encontrar en este catálogo de proyectos.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la aplicación web, diseñé también el logotipo. Encima del texto vemos una pluma atravesando una nube, dado que se almacenan extractos provenientes de textos latinos renacentistas en la nube, que comúnmente escribían con pluma. La tipografía seleccionada es Giza, que además de ser gruesa tener serifa, tiene una forma redondeada para mantener coherencia visual con la nube.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">.NET</span>
                        <span class="pildora">C#</span>
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Microsoft Azure</span>
                        <span class="pildora">Inkscape</span>
                    </div>
                    <div class="apartado">Prestaciones</div>
                    <div class="herramientas">
                        <span class="pildora">Diseño responsive</span>
                        <span class="pildora">Mobile First</span>
                        <span class="pildora">WCAG</span>
                        <span class="pildora">Top Button</span>
                        <span class="pildora">Animaciones</span>
                        <span class="pildora">Transición suavizada entre páginas</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- BubbleGlasses -->
<div class="modala fadea" id="modalBubbleGlasses">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">BubbleGlasses!</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de BubbleGlasses. Esta web fue creada durante mis estudios de inglés en la Escuela Oficial de Idiomas. Teníamos que presentar un producto ficticio y como apoyo creé una web para amenizar la exposición en lugar de utilizar la clásica presentación de PowerPoint. Consiste en unas gafas de sol que cumplen tus deseos. Es bastante colorida e interactiva. Debido a que este producto no existe, varios de los elementos están deshabilitados, como los enlaces a las redes sociales o el formulario de contacto.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- PatriciaCV -->
<div class="modala fadea" id="modalPatriciaCV">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">PatriciaCV</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Portfolio online de Patricia Poveda Montesdeoca. Es un regalo de cumpleaños que le hice a una de mis hermanas para ayudarla a conseguir trabajo. Con ello pretendo que a la hora de presentarse a una oferta de trabajo, pueda incluir un link a esta página web y diferenciarse, de este modo, del resto de posibles candidatos, al contar con una mayor presencia web. De esta manera se ofrece la información necesaria en un formato más moderno, interactivo y amigable que el formato convencional ofrecido por una hoja de papel o un fichero PDF.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- SententiApp -->
<div class="modala fadea" id="modalSententiApp">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">SententiApp</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        App móvil de SententiApp, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria (ULPGC). Su cometido es ofrecer un catálogo de sentencias clásicas para acercar este pensamiento a los estudiantes del campus. Con ello se pretende abrir debate y analizar, entre otros, los avances del pensamiento del ser humano comparando la actualidad con el antaño. El color corporativo es el dorado. Para no congestionar la interfaz, hemos hecho un gran uso del color blanco y de tonos grises. Esta app se sustenta de la API generada en el proyecto homónimo que puedes encontrar en este catálogo de proyectos.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la app, diseñé también el logotipo. Encima del texto vemos una pluma escribiendo en un teléfono móvil, dado que se trata de una app móvil en la que se encuentran sentencias escritas por autores clásicos, que comúnmente escribían con pluma. El texto utiliza una tipografía gruesa con sefira. El teléfono móvil y el gradiente hacen de elementos modernos, mientras que la pluma y la serifa hacen de elementos con un look más antiguo. Esta combinación nos ofrece una mayor holgura a la hora de diseñar la interfaz web.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Ionic</span>
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">TypeScript</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Git</span>
                        <span class="pildora">Inkscape</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Soledad Paralegal -->
<div class="modala fadea" id="modalSoledadParalegal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Soledad Paralegal</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Portfolio online de Soledad Poveda Montesdeoca, asistente legal. Es un regalo de cumpleaños que le hice a una de mis hermanas para ayudarla a conseguir trabajo. Con ello pretendo que a la hora de presentarse a una oferta de trabajo, pueda incluir un link a esta página web y diferenciarse, de este modo, del resto de posibles candidatos, al contar con una mayor presencia web. De esta manera se ofrece la información necesaria en un formato más moderno, interactivo y amigable que el formato convencional ofrecido por una hoja de papel o un fichero PDF.
                    </div>
                    <div class="parrafo">
                        Los colores corporativos son el azul oscuro y el dorado. El primero para darle un toque moderno y sobrio, mientras que el segundo para darle un toque clásico y elegante. El blanco está muy presente para ofrecer cierto alivio visual. En varias secciones aparecen imágenes sutilmente visibles relacionadas con el área del Derecho.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la página web, diseñé también el logotipo. El símbolo que aparece encima del texto es una S mayúscula (la inicial del nombre de mi hermana) que se combina con una columna griega enrollándose por sus extremos a modo de pergamino. Mediante el dibujo intento darle un aspecto clásico. No obstante, utilizo una tipografía moderna con serifa para evitar que el conjunto se viera anticuado. El uso de elementos griegos en el símbolo se debe a que el Derecho Griego fue el precursor intelectual y la fuente del Derecho Romano.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Estudio Jurídico San Gregorio -->
<div class="modala fadea" id="modalEstudioJuridicoSanGregorio">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Estudio Jurídico San Gregorio</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web del Estudio Jurídico San Gregorio. Además de diseñar la página web, diseñé también el logotipo. El símbolo que aparece encima del texto representa la cabeza de la diosa griega de la justicia Themis. Esta tiene una venda en los ojos y una corona de olivos. El diseño es simple, no orgánico, sin excesos en decorados ni elementos innecesarios para darle un aspecto más moderno. El uso de elementos griegos en el símbolo se debe a que el Derecho Griego fue el precursor intelectual y la fuente del Derecho Romano.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Plugin Owl Carousel</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- JC Abogada -->
<div class="modala fadea" id="modalJCAbogada">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">JC Abogada</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de JC Abogada. En ella podremos encontrar información acerca de Jessica Carmada, así como los servicios ofrecidos en su despacho. Si bien es cierto que la estétita de la web no evoca la misma seriedad que encuentras en otras páginas web de despachos de abogados, al tratarse de un blog y de un despacho unipersonal, quise darle un aspecto personal, cercano, cálido y diferente (a veces es bueno salirse de lo convencional). El color corporativo es salmón. Las fotos muestran elementos de oficina en los que el color corporativo se mantiene presente.
                    </div>
                    <div class="parrafo">
                        Al tratarse de un blog, he utilizado WordPress. Existe una separación de usuarios para evitar que el cliente pueda realizar tareas de administración que vulneren la seguridad o alteren el aspecto de la página web, dado que el cliente desea encargarse de la publicación de noticias. Como tema he utilizado Enfold, cuyo page builder es Avia, dado que he trabajado previamente con él y su page builder es de los más manejables que he probado. No obstante, este no ofrece demasiadas herramientas de maquetación, pero permite asignar clases CSS a los elementos que componen la estructura del sitio, de modo que he escrito bastante código SASS para dejar la web a mi gusto. Asimismo, los modales que aparecen al hacer clic en cualquiera de las áreas de actuación fueron implementados con JavaScript. Por seguridad, he trabajado con un tema hijo para evitar la pérdida de información tras actualizaciones y facilitar el mantenimiento.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la página web, diseñé también los dos logotipos: uno más compacto y otro más grande y decorativo. Este último utiliza una tipografía principal fina que intenta emular una caligrafía. He alargado sus extremos y obviado las mayúsculas para darle un aire desenfadado y moderno. La tipografía secundaria carece de serifa y es más fina para evitar así sobrecargar el logotipo. También me encargué de la imagen corporativa en Facebook, así como del diseño de las tarjetas de contacto.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">WordPress</span>
                        <span class="pildora">Tema Enfold</span>
                        <span class="pildora">Page Builder Avia</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Nido de Pío Pío -->
<div class="modala fadea" id="modalNidoDePioPio">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Nido de Pío Pío</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de El Nido de Pío Pío, guardería. No se cuenta con un solo color corporativo. Se hace un uso excesivo de muchos colores y gradientes para trasmitir desorden, diversión rebeldía, evocando con ello la infancia. La tipografía utilizada emula una caligrafía infantil, pero sin sacrificar la legibilidad. El sitio cuenta con una galería de imágenes de tipo Masonry y de un carrusel para ilustrar los servicios ofrecidos. He creado diferentes bordes para separar las secciones entre sí emulando olas o dándole un efecto brush. Asimismo, las imágenes seleccionadas son muy coloridas y mezclan juguetes con naturaleza.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Plugin Owl Carousel</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                        <span class="pildora">Inkscape</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Terapia en Casa -->
<div class="modala fadea" id="modalTerapiaEnCasa">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Terapia en Casa</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web de Terapia en Casa, psicología online. El color corporativo es un verde apagado que, mezclado con elementos naturales, ofrecen tranquilidad y sobre todo esperanza.
                    </div>
                    <div class="parrafo">
                        Además de diseñar la página web, diseñé también el logotipo. Encima del texto vemos un boceto de un psicólogo dentro de una casa. Con ello pretendemos transmitir que puedes recibir un tratamiento psicológico desde el calor y la comodidad de tu hogar, todo ello gracias a Internet. La tipografía principal del texto emula una caligrafía en cursiva poco ostentosa, para transmitir cercanía.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">PHP</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>

<!-- Guía de Angular -->
<div class="modala fadea" id="modalGuiaDeAngular">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                <span class="titulo">Guía de Angular</span>
                <span class="texto">
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo">
                        Página web con una guía elaborada por mí durante mi formación en un curso de Angular. Con ello pretendo tener a mano la descripción escrita del proceso de elaboración de diferentes operaciones utilizando este framework (manejo de formularios, login y registro, operaciones HTTP, interacción con la base de datos...), así como anotaciones sobre los recursos que este nos brinda (componentes, módulos, directivas, pipes...), todo ello de manera directa y resumida. No está terminada.
                    </div>
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora">Angular</span>
                        <span class="pildora">Bootstrap</span>
                        <span class="pildora">HTML</span>
                        <span class="pildora">SASS</span>
                        <span class="pildora">TypeScript</span>
                        <span class="pildora">JavaScript</span>
                        <span class="pildora">jQuery</span>
                        <span class="pildora">Git</span>
                    </div>
                </span>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

        </div>
    </div>
</div>