<section id="proyectos">
    <div class="container-fluid">

        <!-- Obed Guerra Design | Aprosán -->
        <div class="row">
            <div class="bg-obedguerra col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInLeft" href="https://saulopm.com/proyectos/obedguerra" target="_blank" title="Obed Guerra Design, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/obedguerra.jpg" alt="Captura de la página de inicio de Obed Guerra Design, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                </a>
            </div>
            <div class="bg-aprosan col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInRight" href="https://aprosan.es" target="_blank" title="Aprosán, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/aprosan.jpg" alt="Captura de la página de inicio de Aprosán, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Angular, Bootstrap, HTML, SASS, TypeScript, jQuery</span> -->
                </a>
            </div>
        </div>

        <!-- SententiApp (aplicación web) | Proyecto Excerpta (anotación y búsqueda)  -->
        <div class="row">
            <div class="bg-sententiapp-web col-sm-12 col-md-4">
                <a class="proyecto web wow fadeInUp" href="http://sententiapp.iatext.ulpgc.es" target="_blank" title="SententiApp, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/sententiapp-web.jpg" alt="Captura de la página de inicio de SententiApp, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">ASP.NET con C#, Bootstrap, HTML, CSS, JavaScript, jQuery</span> -->
                </a>
            </div>
            <div class="bg-excerpta1 col-sm-12 col-md-4">
                <a class="proyecto web wow fadeInUp" href="http://anotaexcerpta.iatext.ulpgc.es" target="_blank" title="Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/excerpta1.jpg" alt="Captura de la página de inicio del Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">.NET con C#, Bootstrap, HTML, CSS, JavaScript, jQuery</span> -->
                </a>
            </div>
            <div class="bg-excerpta2 col-sm-12 col-md-4">
                <a class="proyecto web wow fadeInUp" href="http://excerpta.iatext.ulpgc.es" target="_blank" title="Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/excerpta2.jpg" alt="Captura de la página de inicio del Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">.NET con C#, Bootstrap, HTML, CSS, JavaScript, jQuery</span> -->
                </a>
            </div>
        </div>

        <!-- BubbleGlasses | PatriciaCV | SententiApp -->
        <div class="row">
            <div class="col-sm-12 col-md-6 no-padding">
                <div class="row">
                    <div class="col-sm-12 bg-bubbleglasses">
                        <a class="proyecto web wow fadeInLeft" href="https://saulopm.com/proyectos/bubbleglasses" target="_blank" title="BubbleGlasses, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <img src="assets/img/proyectos/bubbleglasses.jpg" alt="Captura de la página de inicio de BubbleGlasses, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                        </a>
                    </div>
                    <div class="col-sm-12 bg-patriciacv">
                        <a class="proyecto web wow fadeInLeft" href="https://saulopm.com/proyectos/patriciacv" target="_blank" title="PatriciaCV, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <img src="assets/img/proyectos/patriciacv.jpg" alt="Captura de la página de inicio de PatriciaCV, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 bg-sententiapp-app">
                <a class="proyecto app wow fadeInRight" href="assets/sententiapp.apk" target="_blank" title="SententiApp, app desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/sententiapp-app2.jpg" alt="Captura de la página de inicio de SententiApp, app desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Ionic, Bootstrap, HTML, SASS, JavaScript, jQuery</span> -->
                </a>
            </div>
        </div>

        <!-- Soledad Paralegal | Estudio Jurídico San Gregorio | JC Abogada -->
        <div class="row">
            <div class="bg-soledadparalegal col-sm-12 col-md-4">
                <a class="proyecto web wow fadeInDown" href="https://saulopm.com/proyectos/soledadparalegal" target="_blank" title="Soledad Paralegal, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/soledadparalegal.jpg" alt="Captura de la página de inicio de Soledad Paralegal, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                </a>
            </div>
            <div class="bg-estudiojuridicosg col-sm-12 col-md-4">
                <a class="proyecto web wow fadeInUp" href="https://estudiojuridicosg.com" target="_blank" title="Estudio Jurídico San Gregorio, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/estudiojuridicosg.jpg" alt="Captura de la página de inicio de Estudio Jurídico San Gregorio, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                </a>
            </div>
            <div class="bg-jcabogada col-sm-12 col-md-4">
                <a class="proyecto web wow fadeInDown" href="https://jcabogada.com" target="_blank" title="JC Abogada, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/jcabogada.jpg" alt="Captura de la página de inicio de JC Abogada, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">WordPress, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                </a>
            </div>
        </div>

        <!-- Nido de Pío Pío | Terapia en casa | Guía de Angular -->
        <div class="row">
            <div class="bg-nidodepiopio col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInLeft" href="https://saulopm.com/proyectos/nidodepiopio" target="_blank" title="Nido de Pío Pío, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/nidodepiopio.jpg" alt="Captura de la página de inicio de Nido de Pío Pío, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                </a>
            </div>
            <div class="bg-terapiaencasa col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInRight" href="https://terapiaencasa.es" target="_blank" title="Terapia en casa, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/terapiaencasa.jpg" alt="Captura de la página de inicio de Terapia en casa, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Bootstrap, HTML, SASS, JavaScript, jQuery, PHP</span> -->
                </a>
            </div>
        </div>

        <!-- Guía de Angular -->
        <div class="row">
            <div class="bg-guiaangular col-sm-12 col-md-12">
                <a class="proyecto web wow fadeInUp" href="https://saulopm.com/proyectos/guia-angular/#/inicio" target="_blank" title="Guía de Angular, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <img src="assets/img/proyectos/guia-angular.jpg" alt="Captura de la página de inicio de Guía de Angular, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <!-- <span class="tools">Angular, Bootstrap, HTML, SASS, TypeScript, jQuery</span> -->
                </a>
            </div>
        </div>
    </div>
</section>