// Colores
$text        : black;
$primary     : rgb(255,000,035);
$darkprimary : rgb(165,000,025);
$white       : rgba(255,255,255,.5);

// Responsive
$mobile :  480px;
$tablet :  768px;
$laptop : 1200px;
$desktop: 1400px;

// ––––––––––––––––– //
//     PROYECTOS     //
// ––––––––––––––––– //

#proyectos {

    .fila {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .columna {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 75px 0;
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    }

    .proyecto {
        text-decoration: none;
        box-shadow: 25px 25px 75px black;
        position: relative;
        bottom: 0;
        width: 100%;
        max-width: 350px;
        transition: .5s ease-in-out;

        .tools {
            display: block;
            color: white;
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            white-space: nowrap;
            position: absolute;
            bottom: -15px;
            z-index: 25;
            width: 100%;
            opacity: 0;
            transition: .5s bottom ease-out, 1s opacity ease-out;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }

        &:hover {
            bottom: 10px;

            & .tools {
                bottom: -30px;
                opacity: 1;
            }
        }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {

    #proyectos .proyecto {
        max-width: 75%;

        .tools {
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: $tablet) {

    #proyectos .fila {
        flex-wrap: nowrap;

        .size-4  {
            padding: 50px 0;
            
            .proyecto {
                max-width: 75%;
            }
        }

        .size-6  {
            padding: 75px 0;
            
            .proyecto {
                max-width: 65%;
            }
        }

        .size-12 {
            padding: 100px 0;

            .proyecto {
                max-width: 50%;
            }
        }
        
        .tools {
            white-space: normal;
        }
    }
}

@media only screen and (min-width: $desktop) {

    #proyectos .fila {

        .size-4  {
            padding: 100px 0;
        }

        .size-6  {
            padding: 150px 0;
        }

        .size-12 {
            padding: 125px 0;
            
            .proyecto {
                max-width: 40%;
            }
        }

        .tools {
            font-size: 15px;
        }
    }
}

// Fondos

.columna::before {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .1;
}

.bg-aprosan           { background: rgb(000,180,255) }
.bg-bubbleglasses     { background: rgb(055,255,125) }
.bg-estudiojuridicosg { background: rgb(100,100,100) }
.bg-excerpta1         { background: rgb(050,125,185) }
.bg-excerpta2         { background: rgb(255,205,050) }
.bg-guiaangular       { background: rgb(050,055,070) }
.bg-jcabogada         { background: rgb(255,130,125) }
.bg-nidodepiopio      { background: rgb(000,220,225) }
.bg-obedguerra        { background: rgb(255,000,055) }
.bg-patriciacv        { background: rgb(075,190,225) }
.bg-sententiapp       { background: rgb(225,165,075) }
.bg-soledadparalegal  { background: rgb(175,050,255) }
.bg-terapiaencasa     { background: rgb(175,180,085) }

.bg-excerpta1.columna::before         { background-image: url('./../../../assets/img/proyectos/fondos/excerpta1.jpg')         }
.bg-sententiapp.columna::before       { background-image: url('./../../../assets/img/proyectos/fondos/sententiapp.jpg')       }
.bg-terapiaencasa.columna::before     { background-image: url('./../../../assets/img/proyectos/fondos/terapiaencasa.jpg')     }
.bg-estudiojuridicosg.columna::before { background-image: url('./../../../assets/img/proyectos/fondos/estudiojuridicosg.jpg') }

// –––––––––––––– //
//     FOOTER     //
// –––––––––––––– //

.redes-sociales {
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 75;

    .red-social {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $text;
        font-size: 25px;
        border-radius: 50%;
        box-shadow: 1px 1px 5px rgba(0,0,0,.5);
        margin-top: 15px;
        position: relative;
        width: 60px;
        height: 60px;
        transition: .25s ease-in-out;

        &::before {
            content: "";
            display: block;
            background: white;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transform: scale(1);
            transition: .3s ease-in-out;
        }

        &::after {
            content: "";
            display: block;
            background: black;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            transform: scale(0);
            transition: .3s ease-in-out;
        }

        &:hover {
            color: white;

            &::before {
                background: transparent;
                border-color: transparent;
                transform: scale(1.25);
            }

            &::after {
                transform: scale(1);
            }
        }
    }
}

.cv {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    background: $primary;
    background: linear-gradient($primary, $darkprimary);
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    margin: 0;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 75;
    width: 110px;
    height: 50px;
    transition: 0.5s ease-in-out;

    .fa {
        position: absolute;
        top: 50%;
        right: 28px;
        transform: translateY(-50%);
        opacity: 0;
        transition: 0.5s ease-in-out;
      }

      &:hover {
        padding-right: 15px;

        .fa {
            right: 25px;
            opacity: 1;
          }
      }

      &:active {
        color: transparent;

        .fa {
            color: transparent;
          }
      }
}