<section id="proyectos">
    <div class="container-fluid">

        <div class="row">

            <!-- Obed Guerra Design -->
            <div class="bg-obedguerra col-sm-12 col-md-6">
                <div class="proyecto web wow fadeInLeft">
                    <img src="assets/img/proyectos/obedguerra.jpg" alt="Captura de la página de inicio de Obed Guerra Design, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <span class="titulo">Obed Guerra Design</span>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/obedguerra" target="_blank" title="Visitar Obed Guerra Design, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalObedGuerraDesign">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Aprosán -->
            <div class="bg-aprosan col-sm-12 col-md-6">
                <div class="proyecto web wow fadeInRight">
                    <img src="assets/img/proyectos/aprosan.jpg" alt="Captura de la página de inicio de Aprosán, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Aprosán</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://aprosan.es" target="_blank" title="Visitar Aprosán, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalAprosan">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- SententiApp (aplicación web) -->
            <div class="bg-sententiapp-web col-sm-12 col-md-4 order-sm-last order-md-first">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/sententiapp-web.jpg" alt="Captura de la página de inicio de SententiApp, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">SententiApp</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://sententiapp.iatext.ulpgc.es" target="_blank" title="Visitar SententiApp, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalSententiAppWeb">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Proyecto Excerpta (anotación) -->
            <div class="bg-excerpta1 col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/excerpta1.jpg" alt="Captura de la página de inicio del Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Proyecto Excerpta</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://anotaexcerpta.iatext.ulpgc.es" target="_blank" title="Visitar Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalExcerptaAnotacion">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Proyecto Excerpta (búsqueda)  -->
            <div class="bg-excerpta2 col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/excerpta2.jpg" alt="Captura de la página de inicio del Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Proyecto Excerpta</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://excerpta.iatext.ulpgc.es" target="_blank" title="Visitar Proyecto Excerpta, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalExcerptaBusqueda">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 no-padding">
                <div class="row">

                    <!-- BubbleGlasses -->
                    <div class="col-sm-12 bg-bubbleglasses">
                        <div class="proyecto web wow fadeInLeft">
                            <img src="assets/img/proyectos/bubbleglasses.jpg" alt="Captura de la página de inicio de BubbleGlasses, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <div class="caption">
                                <div class="titulo">BubbleGlasses</div>
                                <div class="enlaces">
                                    <a class="enlace" href="https://saulopm.com/proyectos/bubbleglasses" target="_blank" title="Visitar BubbleGlasses, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                                    <a class="enlace" href="#" data-toggle="modal" data-target="#modalBubbleGlasses">Saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PatriciaCV -->
                    <div class="col-sm-12 bg-patriciacv">
                        <div class="proyecto web wow fadeInLeft">
                            <img src="assets/img/proyectos/patriciacv.jpg" alt="Captura de la página de inicio de PatriciaCV, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                            <div class="caption">
                                <div class="titulo">PatriciaCV</div>
                                <div class="enlaces">
                                    <a class="enlace" href="https://saulopm.com/proyectos/patriciacv" target="_blank" title="Visitar PatriciaCV, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                                    <a class="enlace" href="#" data-toggle="modal" data-target="#modalPatriciaCV">Saber más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SententiApp -->
            <div class="col-sm-12 col-md-6 bg-sententiapp-app">
                <div class="proyecto app wow fadeInRight">
                    <img src="assets/img/proyectos/sententiapp-app.jpg" alt="Captura de la página de inicio de SententiApp, app desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">SententiApp</div>
                        <div class="enlaces">
                            <a class="enlace" href="assets/sententiapp.apk" target="_blank" title="Descargar APK de SententiApp, app desarrollada por Saulo Poveda Montesdeoca, programador web">Descargar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalSententiApp">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Soledad Paralegal -->
            <div class="bg-soledadparalegal col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInDown">
                    <img src="assets/img/proyectos/soledadparalegal.jpg" alt="Captura de la página de inicio de Soledad Paralegal, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Soledad Paralegal</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/soledadparalegal" target="_blank" title="Visitar Soledad Paralegal, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalSoledadParalegal">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Estudio Jurídico San Gregorio -->
            <div class="bg-estudiojuridicosg col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/estudiojuridicosg.jpg" alt="Captura de la página de inicio de Estudio Jurídico San Gregorio, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Estudio Jurídico SG</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://estudiojuridicosg.com" target="_blank" title="Visitar Estudio Jurídico San Gregorio, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalEstudioJuridicoSanGregorio">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- JC Abogada -->
            <div class="bg-jcabogada col-sm-12 col-md-4">
                <div class="proyecto web wow fadeInDown">
                    <img src="assets/img/proyectos/jcabogada.jpg" alt="Captura de la página de inicio de JC Abogada, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">JC Abogada</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://jcabogada.com" target="_blank" title="Visitar JC Abogada, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalJCAbogada">Saber más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Nido de Pío Pío -->
            <div class="bg-nidodepiopio col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInLeft">
                    <img src="assets/img/proyectos/nidodepiopio.jpg" alt="Captura de la página de inicio de Nido de Pío Pío, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Nido de Pío Pío</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/nidodepiopio" target="_blank" title="Visitar Nido de Pío Pío, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalNidoDePioPio">Saber más</a>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Terapia en casa -->
            <div class="bg-terapiaencasa col-sm-12 col-md-6">
                <a class="proyecto web wow fadeInRight">
                    <img src="assets/img/proyectos/terapiaencasa.jpg" alt="Captura de la página de inicio de Terapia en casa, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Terapia en casa</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://terapiaencasa.es" target="_blank" title="Visitar Terapia en Casa, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalTerapiaEnCasa">Saber más</a>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Guía de Angular -->
        <div class="row">
            <a class="bg-guiaangular col-sm-12 col-md-12">
                <div class="proyecto web wow fadeInUp">
                    <img src="assets/img/proyectos/guia-angular.jpg" alt="Captura de la página de inicio de Guía de Angular, web desarrollada por Saulo Poveda Montesdeoca, programador web">
                    <div class="caption">
                        <div class="titulo">Guía de Angular</div>
                        <div class="enlaces">
                            <a class="enlace" href="https://saulopm.com/proyectos/guia-angular/#/inicio" target="_blank" title="Visitar Guía de Angular, web desarrollada por Saulo Poveda Montesdeoca, programador web">Visitar</a>
                            <a class="enlace" href="#" data-toggle="modal" data-target="#modalGuiaDeAngular">Saber más</a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Obed Guerra Design -->
<div class="modal fade" id="modalObedGuerraDesign">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de Obed Guerra Jiménez, diseñador gráfico.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Aprosán -->
<div class="modal fade" id="modalAprosan">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de Aprosán, Asesoría sanitaria.
                <h5>Herramientas</h5>
                Angular, Bootstrap, HTML, SASS, TypeScript, jQuery
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- SententiApp Web -->
<div class="modal fade" id="modalSententiAppWeb">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de SententiApp, panel de administración para proveer de los datos necesarios a la app homónima que puedes encontrar mismamente en mi catálogo de proyectos. También fue desarrollada la correspondiente API.
                <h5>Herramientas</h5>
                .NET, C#, Bootstrap, HTML, CSS, JavaScript, jQuery
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Excerpta Anotación -->
<div class="modal fade" id="modalExcerptaAnotacion">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web del panel de administración del Proyecto Excerpta, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria. Su cometido es proveer de los datos necesarios a la web homónima que puedes encontrar mismamente en mi catálogo de proyectos.
                <h5>Herramientas</h5>
                .NET, C#, Bootstrap, HTML, CSS, JavaScript, jQuery
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Excerpta Búsqueda -->
<div class="modal fade" id="modalExcerptaBusqueda">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web del Proyecto Excerpta, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria. Su cometido es proveer a los usuarios de un motor de búsqueda y de herramientas de análisis para trabajar con florilegios latinos poéticos del Renacimiento.
                <h5>Herramientas</h5>
                .NET, C#, Bootstrap, HTML, CSS, JavaScript, jQuery
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- BubbleGlasses -->
<div class="modal fade" id="modalBubbleGlasses">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de BubbleGlasses. Esta web fue creada durante mis estudios de inglés en la Escuela Oficial de Idiomas. Teníamos que presentar un producto ficticio y como apoyo creé una web para amenizar la presentación en lugar del clásico PowerPoint.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- PatriciaCV -->
<div class="modal fade" id="modalPatriciaCV">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de PatriciaCV.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- SententiApp -->
<div class="modal fade" id="modalSententiApp">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                APK de SententiApp, proyecto de investigación del Instituto Universitario de Análisis y Aplicaciones Textuales (IATEXT) de la Universidad de Las Palmas de Gran Canaria. Su cometido es proveer a los usuarios de un catálogo de sentencias provenientes de textos clásicos para acercar a los estudiantes al pensamiento de los autores de antaño y debatir acerca de los cambios en nuestra sociedad tomándolo como referencia.
                <h5>Herramientas</h5>
                Ionic, Bootstrap, HTML, SASS, TypeScript, JavaScript, jQuery
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Soledad Paralegal -->
<div class="modal fade" id="modalSoledadParalegal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de Soledad Paralegal.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Estudio Jurídico San Gregorio -->
<div class="modal fade" id="modalEstudioJuridicoSanGregorio">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de Estudio Jurídico San Gregorio.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- JC Abogada -->
<div class="modal fade" id="modalJCAbogada">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de Jessica Carmada, abogada.
                <h5>Herramientas</h5>
                WordPress, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Nido de Pío Pío -->
<div class="modal fade" id="modalNidoDePioPio">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web del Nido de Pío Pío, guardería.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Terapia en Casa -->
<div class="modal fade" id="modalTerapiaEnCasa">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Página web de Terapia en Casa, psicología online.
                <h5>Herramientas</h5>
                Bootstrap, HTML, SASS, JavaScript, jQuery, PHP
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- Guía de Angular -->
<div class="modal fade" id="modalGuiaDeAngular">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Información</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5>Información</h5>
                Guía web de Angular.
                <h5>Herramientas</h5>
                Angular, Bootstrap, HTML, SASS, TypeScript, JavaScript, jQuery
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>