
<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Header -->
<app-header></app-header>

<!-- Proyectos -->
<app-proyectos></app-proyectos>

<!-- Descargar CV -->
<a class="cv" href="https://saulopm.com/cv.pdf" target="_blank" title="Currículo de Saulo Poveda Montesdeoca, programador web">
    Ver CV
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </a>
  
  <!-- Redes sociales -->
  <div class="redes-sociales">
    <a class="red-social" href="https://github.com/SauloPM" target="_blank" title="Perfil oficial de GitHub de Saulo Poveda Montesdeoca, programador web">
        <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a class="red-social" href="https://es.linkedin.com/in/saulopm" target="_blank" title="Perfil oficial de LinkedIn de Saulo Poveda Montesdeoca, programador web">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
</div>
