// Responsive Breakpoints

$mobile :  576px;
$tablet :  768px;
$laptop :  992px;
$desktop: 1200px;

.iconos {
    display: flex;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 15px;

    .icono {
        margin-right: 20px;
        width: 40px;
        height: auto;
        opacity: .25;
        transition: .25s ease-out;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:last-child {
            margin: 0;
        }
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {

    .iconos {
        top: 35px;
        left: 35px;
    }
}

@media only screen and (min-width: $tablet) {

    .iconos {
        left: auto;
        right: 35px;
    }
}