// Colores

$text        : black;
$primary     : rgb(255,000,035);
$darkprimary : rgb(165,000,025);
$white       : rgba(255,255,255,.5);

// Responsive Breakpoints

$mobile :  480px;
$tablet :  768px;
$desktop: 1400px;

#header {
    padding: 100px 0;

    h1 {
        color: $text;
        font-size: 10px;
        font-weight: normal;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        white-space: nowrap;
        margin: 15px 0 0;
    }

    h2 {
        color: $text;
        font-size: 65px;
        font-weight: lighter;
        font-family: 'Selima', sans-serif;
        text-align: center;
        text-transform: lowercase;
        margin: 0 auto;
        transform: rotate(-12deg)
    }
}

// Mobile First

@media only screen and (min-width: $mobile) {

    #header h2 {
        font-size: 100px;
    }
}

@media only screen and (min-width: $tablet) {

    #header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h1 {
            font-size: 15px;
            letter-spacing: 10px;
            margin: 50px 0 0;
        }

        h2 {
            font-size: 150px;
        }
    }
}

@media only screen and (min-width: $desktop) {

    #header h2 {
        font-size: 175px;
        animation: efecto-glitch 1.5s ease-in-out infinite;
    }
}

@keyframes efecto-glitch {
    0% {  
        transform: rotate(-12deg) translateY(0);
        text-shadow: 
            0 0 0 blue, 
            0 0 0 cyan, 
            0 0 0 red, 
            0 0 0 yellow;
    }

    20% {  
        transform: rotate(-12deg) translateY(-15px);
        text-shadow: 
            0   5px 0 blue,
            0  10px 0 cyan,
            0  -5px 0 red,
            0 -10px 0 yellow;
    }

    40% {  
        transform: rotate(-12deg) translateY(5px);
        text-shadow: 
            0 -7.5px 0 blue,
            0  -15px 0 cyan,
            0  7.5px 0 red,
            0   15px 0 yellow;
    }
    
   60% {
        transform: rotate(-12deg) translateY(-2.5px);
        text-shadow: 
            0  2.5px 0 blue,
            0    5px 0 cyan,
            0 -2.5px 0 red,
            0   -5px 0 yellow;
    }

    80% {  
        transform: rotate(-12deg) translateY(0);
        text-shadow: 
            0 0 0 blue,
            0 0 0 cyan,
            0 0 0 red,
            0 0 0 yellow;
    }
}