<div class="contenedor">
    
    <div class="cierre" (click)="volverPaginaInicio()">
        <span class="barra"></span>
        <span class="barra"></span>
    </div>

    <div class="cabecera">
        <img class="brush" src="./../../../assets/img/brush.svg" alt="">
        <div class="titulo">Contacto</div>
    </div>

    <form class="formulario" #miFormulario="ngForm" (ngSubmit)="enviarEmail( miFormulario )">
        <input    class="entrada" type="text" [(ngModel)]="nombre"  placeholder="Nombre"  name="nombre"  required autocomplete="off">
        <input    class="entrada" type="text" [(ngModel)]="email"   placeholder="Email"   name="email"   required autocomplete="off">
        <input    class="entrada" type="text" [(ngModel)]="asunto"  placeholder="Asunto"  name="asunto"  required autocomplete="off">
        <textarea class="entrada" rows="3"    [(ngModel)]="mensaje" placeholder="Mensaje" name="mensaje"  required autocomplete="off"></textarea>
        <button   class="boton"   type="submit">Enviar</button>
    </form>

    <div class="datos-contacto">
        <div class="telefono">617 194 213</div>
        <div class="email">info@saulopm.com</div>
    </div>
    
</div>
