<div class="contenedor">
    
    <div class="cierre" (click)="volverPaginaInicio()">
        <span class="barra"></span>
        <span class="barra"></span>
    </div>

    <div class="cabecera">
        <img class="brush" src="./../../../assets/img/brush.svg" alt="">
        <div class="titulo">Contacto</div>
    </div>

    <div class="formulario">
        <input class="entrada" type="text" placeholder="Nombre">
        <input class="entrada" type="text" placeholder="Asunto">
        <input class="entrada" type="text" placeholder="Mensaje">
        <button class="boton">Enviar</button>
    </div>

    <div class="datos-contacto">
        <div class="telefono">617 194 213</div>
        <div class="email">info@saulopm.com</div>
    </div>
    
</div>
