<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                
                <!-- Botón de cierre -->
                <button type="button" class="close" (click)="cerrarModal()" [style.color]="proyecto.colores[0]">&times;</button>

                <!-- Título -->
                <span class="titulo" [ngStyle]=" { 'background': 'linear-gradient(to right, ' + proyecto.colores[0] + ' , ' + proyecto.colores[1] + ')', '-webkit-background-clip': 'text', '-webkit-text-fill-color': 'transparent' }">{{ proyecto.titulo }}</span>

                <span class="texto">
                    
                    <!-- Información -->
                    <div class="apartado margin-top-0">Información</div>
                    <div class="parrafo" *ngFor="let parrafo of proyecto.informacion">{{ parrafo }}</div>

                    <!-- Herramientas -->
                    <div class="apartado">Herramientas</div>
                    <div class="herramientas">
                        <span class="pildora" [ngStyle]=" { 'color': proyecto.colores[0], 'box-shadow': '0 0 5px -1px ' + proyecto.colores[0] }" *ngFor="let herramienta of proyecto.herramientas">{{ herramienta }}</span>
                    </div>
                    
                </span>
            </div>
        </div>
    </div>
</div>