// Colores

$text        : black;
$primary     : rgb(255,000,035);
$darkprimary : rgb(165,000,025);
$white       : rgba(255,255,255,.5);

// Responsive Breakpoints

$mobile :  576px;
$tablet :  768px;
$laptop :  992px;
$desktop: 1200px;

.modal {
    display: block;
    opacity: 1;

    .modal-dialog {
        margin: 0;
        min-width: 100%;

        .modal-content {
            border: none;
            border-radius: 0;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;

            .modal-body {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 50px;

                .titulo {
                    color: $primary;
                    font-size: 175px;
                    font-family: 'Selima', sans-serif;
                    text-align: center;
                    text-transform: lowercase;
                    padding: 0 50px;
                    transform: rotate(-5deg);

                    // background: linear-gradient(to right, $primary, rgba(255,0,35,.75));
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                }

                .contenido {
                    width: 100%;
                    max-width: 500px;

                    .apartado {
                        font-size: 10px;
                        text-align: center;
                        text-transform: uppercase;
                        border-bottom: 1px solid rgba(0,0,0,.25);
                        letter-spacing: 5px;
                        line-height: 15px;
                        padding: 0 15px 10px;
                        margin: 30px 0 50px;
                    }

                    .parrafo {
                        font-size: 13px;
                        text-align: justify;
                        text-align-last: center;
                        line-height: 30px;
                        margin-bottom: 25px;
                    }

                    .enlace {
                        font-size: 13px;
                        text-decoration: none;
                        transition: .25s ease-out;

                        &:hover {
                            opacity: .75;
                        }
                    }

                    .logo {
                        margin-bottom: 45px;
                        width: 100%;
                        height: auto;
                    }

                    .herramientas {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding: 0 50px;

                        .pildora {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $primary;
                            font-size: 12px;
                            font-weight: 700;
                            border-radius: 25px;
                            margin: 0 5px 10px;
                            padding: 5px 20px;
                            width: fit-content;
                        }
                    }
                }

                .cierre {
                    position: absolute;
                    top: 50px;
                    right: 50px;
                    width: 75px;
                    height: 75px;
                    opacity: .35;
                    transition: .25s ease-in;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }

                    &:before,
                    &:after {
                        content: '';
                        background: black;
                        top: 50%;
                        left: 0;
                        position: absolute;
                        width: 75px;
                        height: 1px;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}