<!-- Navbar -->
<app-navbar (dispararAperturaContacto)="abrirContacto( $event )" (dispararAperturaConocimiento)="abrirConocimiento( $event )"></app-navbar>

<!-- Header -->
<app-header></app-header>

<!-- Proyectos -->
<app-proyectos></app-proyectos>

<!-- Contacto -->
<app-contacto *ngIf="mostrarContacto" (dispararAperturaContacto)="abrirContacto( $event )"></app-contacto>

<!-- Conocimientos -->
<app-conocimiento *ngIf="mostrarConocimiento" (dispararAperturaConocimiento)="abrirConocimiento( $event )"></app-conocimiento>

<!-- Descargar CV -->
<a class="cv" href="https://saulopm.com/cv.pdf" target="_blank" title="Currículo de Saulo Poveda Montesdeoca, programador web">
  Ver CV
  <i class="fa fa-angle-right" aria-hidden="true"></i>
</a>

<!-- Redes sociales -->
<div class="redes-sociales">
  <a class="red-social" href="https://github.com/SauloPM" target="_blank" title="Perfil oficial de GitHub de Saulo Poveda Montesdeoca, programador web">
    <i class="fa fa-github" aria-hidden="true"></i>
  </a>
  <a class="red-social" href="https://es.linkedin.com/in/saulopm" target="_blank" title="Perfil oficial de LinkedIn de Saulo Poveda Montesdeoca, programador web">
    <i class="fa fa-linkedin" aria-hidden="true"></i>
  </a>
</div>

<!-- <router-outlet></router-outlet> -->