<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Contenido -->
            <div class="modal-body">
                
                <!-- Botón de cierre -->
                <div class="cierre" (click)="cerrarConocimiento()"></div>

                <!-- Título -->
                <div class="titulo">Conocimiento</div>

                <div class="skills">
                    <div class="skill">Html</div>
                    <div class="skill">CSS</div>
                    <div class="skill">JavaScript</div>
                    <div class="skill">jQuery</div>
                    <div class="skill">SASS</div>
                    <div class="skill">PHP</div>
                    <div class="skill">C#</div>
                    <div class="skill">TypeScript</div>
                    <div class="skill">Bulma</div>
                    <div class="skill">Bootstrap</div>
                    <div class="skill">Ionic</div>
                    <div class="skill">Angular</div>
                    <div class="skill">Laravel</div>
                    <div class="skill">.NET</div>
                    <div class="skill">WordPress</div>
                    <div class="skill">Joomla!</div>
                    <div class="skill">Git</div>
                    <div class="skill">Microsoft Azure</div>
                </div>
            </div>
        </div>
    </div>
</div>